@import url('./config/reset.css');
@import url('./config/fonts.css');
@import url('./config/variables.css');
@import url('./config/layout.css');

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
}

h1 {
    margin-top: 0;;
    margin-bottom: 24px;
    font-size: 36px;
}
h2 {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
}
p {
    margin-bottom: 16px;
    margin-right: 5%;
}

h1 + h2,
h2 + h2 {
    margin-top: -16px;
}

h3 {
    font-size: 18px;
    margin-bottom: 24px;
}

h1 + h3,
h2 + h3,
h3 + h3 {
    margin-top: -30px;
}

ul > li {
    margin-bottom: 8px;
}
li h2 {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: var(--grey);
    transition: color 0.1s;
    padding-bottom: 2px;
}
a:hover {
    color: var(--red);
}