body {
	background: var(--white);
	outline-color: var(--red) !important;

	color: var(--black);
}
body.prevent-scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

::selection {
	background: var(--red);
	color: var(--white);
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
}
::-moz-selection {
	background: var(--red);
	color: var(--white);
	-webkit-text-fill-color: var(--white);
	text-fill-color: var(--white);
}

.svg-defs {
	display: none;
}

main {
	position: relative;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-wrapper {
	min-width: 320px;
	overflow: hidden;
}

.wrapper {
	position: relative;
	width: 85%;
    margin: 0 auto;
    max-width: 1200px;
}

@media screen and (min-width: 1000px) {
	.m-l {
		margin-left: 14.5%;
	}
}