:root {
	/*colors*/
	--red: #F51B1B;
	--black: #0D0C0C;
	--white: #FAFAFA;
    --grey: #444;
    --magenta: #b5008e;
    --light-grey: #c3c3c3;
	/*easings*/
	--ease-in: cubic-bezier(0.71,0,0.65,0.34);
	--ease-out: cubic-bezier(0.165, 0.840, 0.440, 1);
	--ease-out-bounce: cubic-bezier(0.185, 0.940, 0.260, 1.170);
	--ease-in-strong: cubic-bezier(0.83, 0, 0.865, 0.195);
	--ease-out-strong: cubic-bezier(0, 1, 0.15, 1);
	--ease: cubic-bezier(0.77,0,0.175,1);
	--sine: cubic-bezier(0.445,0.05,0.55,0.95);
	--bounce: cubic-bezier(0.655,0.66,0.185,1.265);
	/*sizes*/
}

